/**/target/
/**/__pycache__/
/**/.pydevproject
/**/*.pyo
/**/*.pyc
/**/*.pyd
/**/build/
/**/override.properties
/**/.idea/
/**/*.iml
/**/.gradle/
/**/bin/
/**/out/
/**/logs/
/**/*.jar
/**/*.war
/**/*.tar
/**/*.rar
/**/*.tar.gz
/**/*.7z
/**/*.zip
/**/*.exe
/**/.vs/
/**/.settings/
/**/node_modules/
/**/node/
/**/core
